fastapi>=0.110.0
uvicorn[standard]>=0.28.0
pydantic-settings>=2.2.1
sqlalchemy>=2.0.28
aiosqlite>=0.20.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.9
aiomysql>=0.2.0
Pillow>=10.0.0
pycryptodome>=3.18.0
bcrypt==4.0.1


